*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
    position:relative;
}

/* // for light theme // */
body.light{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d1dae3;
    position:relative;
}

/* // Side-navbar // */
.side-navbar{
    background-color: #0b2936;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    z-index: 10000;
}
body.light .side-navbar{
    background-color: #777e85;
}
.side-navbar nav{
    display:flex;
    justify-content: center;
    align-items: center;
}
.side-navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100vh;
}
.side-navbar nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    height: 10vh;
    width: 100%;
}
.side-navbar nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    height: 10vh;
    width: 200%;
}
.side-navbar nav ul li:hover{
    background-color: #091921;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
}
body.light .side-navbar nav ul li:hover{
    background-color: #d1dae3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
}
body.light .side-navbar nav ul li a{
    color: #091921;
}
.side-navbar nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.24rem;
}
.closebtn{
    color: #155774;
    font-size: 40px;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
}
.closebtn:hover{
    color: #118bc0;
    font-size: 40px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}
.toggle-container {
    display: none;
}


/* Side-narbar ------------------->>>>>>> */


/* // dark-theam clock // */
.clock-name{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(15%);
  margin-top: -15% !important;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Orbitron', sans-serif;
  margin: 20%;
}
body.light .clock-name{
    color: #091921;
}


.clock
{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    transform: translateX(35%);
    align-items: center;
    background: url('../images/clock.png');
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0px -15px 15px rgba(255,255,255,0.05),
                inset 0px -15px 15px rgba(255,255,255,0.05),  
                0px 15px 15px rgba(0,0,0,0.3),
                inset 0px 15px 15px rgba(0,0,0,0.3);  

}
body.light .clock{
    background: #d1dae3 url('../images/clock.png');
    background-size: cover;
    border: 4px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(225,225,225,0.5),
                10px 10px 10px rgba(0, 0, 0, 0.3),
                inset -8px -8px 15px rgba(225, 225, 225,0.5),
                inset 10px 10px 10px rgba(0,0,0,0.3);
}
.clock::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}
body.light .clock::before{
    background: #008eff;
}

.clock .hour,
.clock .minute,
.clock .second
{
    position: absolute;
}
.clock .hour, .hr
{
    widows: 160px;
    height: 160px;
}
.clock .minute, .min
{
    widows: 190px;
    height: 190px;
}
.clock .second, .sec
{
    widows: 230px;
    height: 230px;
}
.hr, .min, .sec
{
    display: flex;
    justify-content: center;
    /*align-items: center; */
    position: absolute;
    border-radius: 50%;
}
.hr:before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.min:before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;

}
body.light .min:before{
    background-color:#091921 ;
}
.sec:before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;

}
body.light .sec:before{
    background-color:#008eff;
}

/* dark-theam clock ------------------------>>>>>>> */


/* // light theam - dark theam switcher // */
.toggleClass{
    position: absolute;
    top: 25px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    font-family: 'Courgette';
    border-radius: 50%;
    background-color: #d1dae3;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.toggleClass:before{
    position: absolute;
    left: 25px;
    content: 'Light Mode';
    color: #d1dae3;
    white-space: nowrap;
}

body.light .toggleClass{
    background-color: #091921;
    color: #091921;
}

body.light .toggleClass:before{
    content: 'Dark Mode';
    color: #091921;
    
}


@media screen and (max-width:1200px){

    .side-navbar{
        transform: translateX(-100%);
       
    }
    .toggle-container {
        display: block;
        color:  rgb(4, 106, 165);
        font-size: 35px;
        width: 45px;
        height: 30px;
        margin-left: 10px;
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;

    }
    body.light .toggle-container{
        color: #091921;
    }
    .closebtn{
        display: block;
    }
    body.light .closebtn{
        color: #091921;
    }
    .clock-name{
        transform: translateX(-20%);
    }
    .clock{
        transform: translateX(0%);
    }

}